*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: left;
    display:flex;
    
}
.wrapper{
    width: 350px;
    padding: 50px 50px 30px 40px;
    border-radius: 5px;
    background-color: rgb(232, 231, 230);
    margin-top: 50px;
}
.wrapper h1{
    text-align: center;
}
.wrapper form{
    margin: 40px 0;
}

form .icon{
    text-align: left;
}
form .input-area{
   position: relative;
}
form .input-area .input-name{
    margin-top: 5px;
    margin-bottom: 10px;
}
form .input-area .input-name .input{
    width: 200px;
}
form .input-area .input-email{
    margin-top: 5px;
    margin-bottom: 10px;
}
form .input-area .input-password{
    margin-top: 5px;
    margin-bottom: 10px;
}
form .input-area .input-age{
    margin-top: 5px;
    margin-bottom: 20px;
}
form .input-area .biography{
    margin-top: 5px;
    margin-bottom: 20px;
}
form .input-area .dropmenu{
    margin-top: 5px;
    margin-bottom: 20px;
}
form .input-area .checklist{
    margin-top: 5px;
    margin-bottom: 20px;
}
form input[type="submit"]{
   
    margin-top: 10px;
    border:none;
    cursor: pointer;
    width:100%;
   color:black;
   background: rgb(13, 224, 13);
   padding-top: 10px;
   padding-bottom: 10px;
   
}
form input[type="submit"]:hover{
    background:rgb(92, 92, 212);
}


