*{
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #dbcbcb;
}

#box{
    margin:50px 50px;
    padding:5px;
    background-color: white;
    color: black;
}
button{
    text-align: center;
    margin-left: 10px;
    margin-bottom: 3px;
}